
body{
    position: relative;
    margin:0;
    text-align: center;
    padding: 0;
    width: 100%;
    
    
    
}



nav{
    width: 100%;
    background: cadetblue;
    display: flex;
    flex-wrap: wrap;

}
ul{
    width: 80%;
    margin: 0;
    padding: 0;

}
ul li{
    list-style: none;
    display:inline-flex;
    padding: 20px;


}
ul li:hover{
    background: blueviolet ;
}
ul li a{
    color: white;
    text-decoration: none;
}
.info{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width:80%  ;
    align-content: center;
    margin-left: 150px;
}


.title{
    border-bottom: 2px solid black;
    width: 80%;
    margin-left: 150px;

}

.pain{
    position: relative;
    margin-left: 250px;
    



}

@media (max-width :1000px){
    body{
        background-color: blanchedalmond;
    }
} 

.foot{
   
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 80px;
    text-align: center;
}