
body{
    position: relative;
    margin:0;
    text-align: center;
    padding: 0;
    width: 100%;
    
}
.info{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width:80%  ;
    align-content: center;
    margin-left: 150px;
}


.title{
    border-bottom: 2px solid black;
    width: 80%;
    margin-left: 150px;

}

.pain{
    position: relative;
    margin-left: 250px;
    



}

    

.foot{
   
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 80px;
    text-align: center;
}