body{
    background-image: url(https://www.xmple.com/wallpaper/gradient-blue-linear-grey-2880x1800-c2-c0c0c0-1e90ff-a-90-f-14.svg);
    background-repeat: cover;
    background-repeat: no-repeat;
}
header{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 3px solid maroon;
    width: 100%;
    text-transform: uppercase;
    font-size: 25px;
    font-style: italic;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div{
    float: right;
    margin-left: ;
    margin-right: auto;
    
}
img{
    width: 30%;
    margin: 10/6%;
}