body{
   background-color: lightgoldenrodyellow;
}
header{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 3px solid maroon;
    width: 100%;
    text-transform: uppercase;
    font-size: 25px;
    font-style: italic;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div{
    float: right;
    
}
img{
    width: 30%;
    margin: 10/6%;
}