body{
    
}
.info{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width:80%  ;
    align-content: center;
    margin-left: 150px;
}
.hobbies{
    text-align: center;
    background-color: khaki;
}
.hobbies ul li{
    
    text-align: start;
    
}

.skills{
    text-align: center;
    background-color: rgb(163, 233, 157);

}

nav{
    width: 100%;
    background: cadetblue;
    text-align: center;

}
nav ul{
    width: 80%;
    margin: 0;
    padding: 0;

}
nav ul li{
    list-style: none;
    display:inline-flex;
    padding: 20px;


}
nav ul li:hover{
    background: blueviolet ;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
@media (max-width :1000px){
    body{
        background-color: blanchedalmond;
    }
} 