h1 {
    color: #9b59b6;
}

div:nth-of-type(3) {
    background-color: pink;
}

div p {
    font-size: 25px;
}

h2 {
    color: orange;
}

input[type="text"] {
    border: 3px solid red;
    background-color: grey;
}

input {
    border: 3px solid red;
}

label {
    text-transform: uppercase;
}

dm {
    font-style: italic;
    color: white;
    font-size: 22px;
}

div p:nth-of-type(2) {
    border: 5px solid white;
}

.cls {
    background-color: white;
}

#this {
    border: 2px solid rgb(2, 2, 68);
}

#this::first-letter {
    font-size: 4em;
    color: darkgreen;
}

p {
    font-size: 16px;
}

li {
    color: #13c9fb;
}

li {
    display: list-item;

}


p {
    background-color: yellow;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    color: #bdc3c7;
}

html {
    color: -internal-root-color;
}