/* Element selectors */
body{
    background-color: ghostwhite;
    margin: 10px 200px;




}





header{
    background-color: rgba(119,90,90,0.7);
    position: fixed;
    width: 100%;
    top: 0;
}

section{
    font-family: Arial, Helvetica, sans-serif;
  
    padding: 5px 30px;
    border: solid;
    margin-top: 70px;






}

article{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;




}
.title{
    font-size: 23px;
    font-weight: bold;
    



}
.date{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;

}
/* link style.. */
nav{
    width: 100%;
    background: cadetblue;
    text-align: center;

}
ul{
    width: 80%;
    margin: 0;
    padding: 0;

}
ul li{
    list-style: none;
    display:inline-flex;
    padding: 20px;


}
ul li:hover{
    background: blueviolet ;
}
ul li a{
    color: white;
    text-decoration: none;
}

