.Board{
    width: 600px;
    height: 600px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

   

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    
}

.A{
    border: 5px solid black;
    border-radius: 3px;
    border-top: none;
    
    border-left: none;
    
}
.B{
    border: 5px solid black;
    border-radius: 3px;
    border-top: none;
    
    border-left: none;
    border-right: none;
}
.C{
    border: 5px solid black;
    border-radius: 3px;
    border-top: none;
    
    border-right: none;
    
}
.D{
    border: 5px solid black;
    border-radius: 3px;
    border-top: none;
    border-bottom: none;
    
    border-left: none;
}
.E{
    border: 5px solid black;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    
    border-right: none;
}
.F{
    border: 5px solid black;
    border-radius: 3px;
    border-bottom: none;
    border-top: none;
    border-right: none;
}
.G{
    border: 5px solid black;
    border-radius: 3px;
    
    border-bottom: none;
    border-left: none;
    
    
}
.H{
    border: 5px solid black;
    border-radius: 3px;
    
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.I{
    border: 5px solid black;
    border-radius: 3px;
    border-bottom: none;
    border-right: none;